* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(66, 28, 234);
}

.container {
  background-color: rgb(220, 0, 106);
  width: 330px;
  height: 370px;
  margin: auto;
  text-align: center;
  border: 4px solid rgb(6, 6, 6);
}
.container .inpt {
  border-radius: 20px;
  padding: 15px 30px;
  border: 2px solid rgb(4, 4, 4);
  font-size: 1rem;
  background-color: black;
  color: aliceblue;
}
.container .row {
  text-align: center;
  margin: auto;
  margin-top: 9px;
}
.container .row .button {
  background-color: black;
  color: aliceblue;
  padding: 20px;
  border: 2px solid rgb(218, 206, 206);
  border-radius: 10px;
  margin: 0 4px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}